extends layout

block content
  .row.marketing
      .col-lg-12
        h4 基本
        p 简单，快速，基于Grunt

        h4 配置
        p 仅需指定相关文件目录，实现高可用，零配置

        h4 组件
        p 需符合规范，JS代码检查，JS压缩，自动配置模块标识，自动解析依赖，构建时自由可选

        h4 GitHub
        p 欢迎贡献，觉得赞就赏个star呗 
          a(href="https://github.com/dreamstu/fe-build" target="_blank") https://github.com/dreamstu/fe-build

