extends layout

block content
  .row.marketing
      .col-lg-12
        h4 基本
        p 基于Grunt，自动解析依赖，js代码检查，js压缩，自动配置模块ID

        h4 构建配置
        p 可配置，灵活，高可用

        h4 组件
        p 自由可选，构建日志干净，扼要

        h4 Bootstrap
        p 必须保证系统安装有quick，详见：
          a(href="http://www.quickjs.org" target="_blank") quick安装

