extends layout

block content
  .jumbotron
    h1 自动化时代已经到来
    p.lead The front-end automation era has arrived.
    p
      a.btn.btn-lg.btn-success(href='/tool')
        自豪地采用
        span.glyphicon.glyphicon-ok

