extends layout

block content
  .row.marketing
        form#form(action='/cli/list' method='post')
          .form-group
            label(for="in")
              span.glyphicon.glyphicon-cloud
              源码目录
            input.form-control(id='in' name='inf' placeholder='请输入源码目录' required)
            span.help-block 输入要构建的项目源码路径
          .form-group
            label(for="out")
              span.glyphicon.glyphicon-file
              输出目录
            input.form-control(id='out' name='outf' placeholder='请输入输出目录' required)
            span.help-block 输入构建完毕的项目输出路径
          button.btn.btn-primary(type='submit')
            span.glyphicon.glyphicon-arrow-right
            下一步，选择构建模块
      .col-lg-6

